.et_divi_builder #et_builder_outer_content {
  .et_pb_row.calendar-events {
    .et_pb_column_1_4 {
      width: percentage(2/12);
    }
  }

  ol.cfneg-calendar-feed {
    margin: 0 0 0 1em;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.6em;

    a {
      font-weight: inherit;
    }
  }
}

@include breakpoint (small only) {
  .et_divi_builder #et_builder_outer_content .et_pb_text ol li, .et_divi_builder #et_builder_outer_content .et_pb_toggle_content ol li, .et_divi_builder #et_builder_outer_content .et_pb_blurb_content ol li, .et_divi_builder #et_builder_outer_content .et_pb_promo_description ol li, .et_divi_builder #et_builder_outer_content .et_pb_code ol li, .et_divi_builder #et_builder_outer_content .et_pb_newsletter_description_content ol li, .et_divi_builder #et_builder_outer_content .et_pb_team_member_description ol li, .et_divi_builder #et_builder_outer_content .et_pb_slide_content ol li, .et_divi_builder #et_builder_outer_content .et_pb_tab ol li, .et_divi_builder #et_builder_outer_content .et_pb_testimonial_description_inner ol li, .et_divi_builder #et_builder_outer_content .et_pb_fullwidth_header .header-content ol li {
    list-style: none;
    text-align: center;
  }
}
