.et_divi_builder #et_builder_outer_content {
  .et_pb_row.calendar-events {
    .et_pb_column_1_4 {
      width: percentage(2/12);
    }
  }

  ol.cfneg-calendar-feed {
    margin: 0 0 0 1em;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.6em;

    a {
      font-weight: inherit;
    }
  }
}
