.search-dropdown-button {
  width: 32px;
  text-align: center;
}

:not(.wp-core-ui) {
  .search-form {
    background: $brand-blue;
    padding: 15px 0 15px 15px;
    display: flex;

    label {
      width: calc(100% - 32px);
    }
  }

  .search-field {
    border: none;
    margin: 0;
  }

  .search-submit {
    background: $brand-blue;
    border: none;
    color: $white;
    width: 60px;
    height: 39px;
    font-size: 1.5em;
    text-align: center;
  }
}

.dropdown-pane[id="search-dropdown"] {
  padding: 0;
  border: 0;
  box-shadow: 0 0 10px 5px rgba($black, .3);
  z-index: 6;
}
