.et_divi_builder #et_builder_outer_content {
  .et_pb_slider .et_pb_slide_description {
    padding: 25% 8%;
  }

  .et-pb-controllers a {
    width: 15px;
    height: 15px;
    border-radius: 0;
    margin-right: 20px;
  }
}
