.et_divi_builder #et_builder_outer_content {
  .et_pb_blog_grid.et_pb_blog_grid {
    display: flex;

    .et_pb_post.et_pb_post {
      opacity: 1 !important;
      flex: auto;
      padding: 10px !important;
      border: none !important;

      .et_pb_image_container {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        margin: 0 0 30px;

        a {
          height: 0;
          padding-bottom: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .entry-title {
        @extend .type-medium-bold-blue;
        line-height: 1.2em;

        a {
          font-weight: inherit;
          display: block;
          overflow: hidden;
          border-bottom: 6px solid $brand-blue;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
      }

      a.more-link {
        color: $rose !important;
        font-weight: bold;
        display: inline;

        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }

      &:first-child {
        margin-left: -10px;
      }

      &:last-child {
        margin-right: -10px;
      }

      &:only-child {
        .et_pb_image_container {
          float: left;
          width: calc(50% - 10px);
          padding-bottom: calc(50% - 10px);
          margin: 0 20px 0 0;
        }
      }
    }

    &.blog-feed {
      display: block;

      .et_pb_image_container {
        float: left;
        width: calc(50% + 20px);
        padding-bottom: calc(50% + 20px) !important;
        margin: 0 40px 0 0 !important;
      }

      .et_pb_post.et_pb_post {
        color: $white;
        padding: 0 40px 0 0 !important;
        margin: 0 10px;

        h2 {
          margin-top: 10px;

          &:before {
            font-family: $font-serif;
            color: $white;
            font-size: 90px;
            font-weight: normal;
            line-height: 1.25em;
          }
        }

        a {
          color: $white !important;
          border-bottom-color: $white;

          &.more-link {
            display: block;
            margin-top: 1em;
          }
        }

        $i: 1;
        @each $color in $brand-blue, $gold, $light-green {
          &:nth-child(#{$i}) {
            background: $color;

            h2::before {
              content: '#{$i}';
            }
          }

          $i: $i + 1;
        }

        &:nth-child(even) {
          padding: 0 0 0 40px !important;

          .et_pb_image_container.et_pb_image_container {
            float: right;
            margin: 0 0 0 40px !important;
          }
        }
      }
    }
  }
}
