#et_builder_outer_content {
  .content-highlight-box {
    p {
      font-weight: 600;
    }

    hr {
      background: $white;
      height: 4px;
      margin: 1.5em 0;
    }
  }
}

.sidebar-primary {
  .content {
    @include grid-row;
    padding-top: rem-calc(50);
  }
  .main {
    @include grid-column(9);

    @include breakpoint(small only) {
      width: 100%;
    }
  }

  .sidebar {
    @include grid-column(3);
    padding-top: 70px;

    @include breakpoint (small only) {
      width: 100%;
    }

    h3 {
      @extend .type-medium-bold-blue;
      font-weight: 800;
      border-top: 6px solid $brand-blue;
      border-bottom: 6px solid $brand-blue;
      padding: 7px 0;
      margin-bottom: rem-calc(12);
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        display: block;

        a {
          @extend .button;
          display: block;
          text-align: left;
          font-weight: 800;
          margin-bottom: 10px;
        }
      }
    }
  }
}
