.wrap.container {
  position: relative;
  z-index: 1;
}

/* Flex grid */
.flex-row {
  @include flex-grid-row();

  &.column, &.columns {
    @include flex-grid-column();
  }
}

.flex-column, .flex-columns {
  @include flex-grid-column();
}

.large-up-5 {
  @include flex-grid-layout(5, '.column');

  .et_divi_builder #et_builder_outer_content &.et_pb_row .et_pb_column {
    @include flex-grid-row();
    @include flex-grid-layout(5, '.et_pb_module');
    margin-left: -8px;
    margin-right: -8px;

    @include breakpoint(medium only){

      margin-left: 0;
      margin-right: 0;
    }

    .et_pb_module {
      padding: 0 8px;
    }
  }
}

/* Divi grid */
#et_builder_outer_content {
  position: relative;

  .et_pb_row.et_pb_row.et_pb_row {
    width: 100%;
    max-width: 960px;
  }
}

body.et_divi_builder #et_builder_outer_content {
  .text-absolute-bottom.text-absolute-bottom {
    position: absolute;
    bottom: 0;
    z-index: 100;

    h2 {
      margin: 0 !important;
      line-height: .7em;

      @include breakpoint(medium only) {
        text-align: center;
      }
    }
    p {
      margin: 0 !important;
      line-height: .7em;

      @include breakpoint(medium only) {
        text-align: center;
        line-height: 1em;
        font-size: 36px;
        padding-bottom: 20px;
      }
    }
  }
}
