/**
 * Text Style Type Definitions
 */

.type-large-rose-serif {
  font-family: $font-serif;
  font-size: 50px;
  color: $rose;

  @media only screen and (max-width: 768px) {
    text-align: center;              
  }
}

.type-medium-bold-blue {
  font-family: $body-font-family;
  font-weight: 600;
  font-size: 34px;
  color: $brand-blue;
}

.type-bold-white {
  font-family: $body-font-family;
  font-weight: 700;
  font-size: 20px;
  color: $white;
}

.type-small-bold-white {
  font-family: $body-font-family;
  font-weight: 800;
  font-size: 16px;
  color: $white;
}

.type-bold-blue {
  font-family: $body-font-family;
  font-weight: 800;
  font-size: 24px;
  color: $brand-blue;
}

.type-small-rose-serif {
  font-family: $font-serif;
  font-weight: 400;
  font-size: 20px;
  color: $rose;
}

.text-small {
  font-size: .9em;
}

.caps {
  text-transform: uppercase;
}

.script {
  font-family: "Playball";
}

// Single blog post styles
.single .entry-content {
  h2 {
    @extend .type-medium-bold-blue;
  }

  h3 {
    @extend .type-bold-blue;
  }

  h4 {
    @extend .type-small-rose-serif;
  }

  h5 {
    font-weight: 600;
    font-size: 24px;
  }

  h6 {
    font-weight: 600;
    text-transform: uppercase;
  }

  strong {
    font-weight: 600;
  }

  ol, ul {
    margin-left: 2em;
  }

  a {
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}


#et_builder_outer_content {
  .et_pb_section {
    /**
     * Section-specific styles
     */

    // Patterned and light blue background
    &.pattern, &.background-light-blue {
      h3 {
        @extend .type-bold-blue;
        padding-bottom: 5px;

        & + p + h3 {
          padding-top: .5em;
        }
      }
    }

    // Fundholder profile
    &.fundholder-profile {
      h1 {
        @extend .type-large-rose-serif;
        padding-bottom: .5em;
      }

      h2 {
        @extend .type-bold-blue;
      }
    }

    /**
     * Module-specific text styles
     */

    // Generic text modules
    .et_pb_text {
      h2 {
        @extend .type-large-rose-serif;
      }

      h3 {
        @extend .type-medium-bold-blue;

        & + h4 {
          padding-top: .5em;
        }
      }

      h4 {
        @extend .type-bold-blue;
      }

      a {
        &:hover, &:active, &:focus {
          text-decoration: underline;
        }
      }

      // Fundholder sidebar styles
      &.fundholder-connect {
        h2 {
          @extend .type-medium-bold-blue;
          font-weight: 700;
        }

        p {
          font-weight: 700;
        }

        a {
          font-weight: 700;
        }
      }
    }
  }
}
